Repository Anton-Borodinskiy/prakticum_diploma_app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - build

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        IMAGE_TAG: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        IMAGE_TAG: "latest"
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      variables:
        IMAGE_TAG: $CI_COMMIT_SHA
    - when: always

frontend:
  stage: build
  trigger:
    include:
      - "frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

backend:
  stage: build
  trigger:
    include:
      - "backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

CI_and_DOCKER_back
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

Compose_and_Front
  docker-compose.yaml
  frontend/nginx.conf
Due: frontend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update nginx.conf
  frontend/nginx.conf
Due: frontend

test_front
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update vue.config.js
  frontend/vue.config.js
Due: frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none
